.modal-container {
  width: 50rem;
  box-shadow: 0px 0px 10px lightgrey;
  padding: 1rem;
  border-radius: 10px;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #5cb85c;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.modal-button .modal-button-text {
  transform: translateX(25px);
  color: white;
  font-weight: bold;
  transition: 0.4s ease all;
}

.modal-button .modal-button-icon {
  position: absolute;
  border-left: 1px solid lightgrey;
  transform: translateX(100px);
  height: 40px;
  width: 40px;
  transition: 0.4s ease all;
}

.modal-button i {
  font-size: 15px;
  color: #eee;
}

.modal-button:hover {
  background: #157347;
  text-align: center;
}

.modal-button:hover .modal-button-text {
  color: transparent;
}

.modal-button:hover .modal-button-icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.modal-button:hover .modal-button-icon i {
  font-size: 20px;
}
.modal-button:focus {
  outline: none;
}

.modal-button-label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-input {
  display: none;
}

.modal-table {
  max-height: 20rem;
  overflow-y: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.modal-container table {
  width: 40rem;
  text-align: center;
  overflow-y: scroll;
}

.modal-container table thead tr th {
  padding: 15px;
}

.modal-button-2 {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
}
